div#static{
    position:static;
    border: 3px solid rosybrown;
    width: 250px;
    height: 250px;
    padding: 20px;
}


div#relative{
    position:relative;
    border: 3px solid rosybrown;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    top:20px;
}

div#fixed{
    position: fixed;
    border: 3px solid blue;
    width: 250px;
    height: 250px;
    padding: 20px;
    right: 200px;
    top: 100px;
}

div#parent{
    position: relative;
    border: 3px solid blue;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#absolute{
    position: absolute;
    width: 100px;
    height: 100px;
}

div#sticky{
    position: sticky;
    border: 3px solid green;
    background-color: chartreuse;
    padding: 20px;
}