ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li{
    float: left;
}


li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover:not(.active){
    background-color: #111;
}


.active{
    background-color: #4CAF50;
}

.navbar a{
    float: left;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 16px;
    
}

.navbar {
    background-color: #333;
    overflow: hidden;
}
